.left {
    overflow: hidden;
    min-height: 50px;
    border: 2px dashed #f0f;
}

.right {
    float: right;
    width: 250px;
    min-height: 50px;
    margin-left: 10px;
    border: 2px dashed #00f;
}
.control{
  width: 150px;
  text-align: left;
}
.MenuText{
  padding: 3px;
}

.NavigationItem a {
    color: rgb(169, 196, 35);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: rgb(16, 79, 215);
}
.Card{
  text-align:center;
  width: 100%;
}

.MainContainer{
    display: inline-flex;
    vertical-align:center;
    margin-top: 50px;
    width: 100%;
}
.error{
  color: tomato;
}
.success{
  color: rgb(65, 138, 12);
}
.FormControl{
  margin-left: 10px;
}